<!DOCTYPE html>
<html lang="en">
<head>
  <title>Handlebars | Electric Boiler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is the templating engine used for this website.">
  <meta name="version" content="1.0.0">
  <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
  <div class="page">
    <header role="header">
    
    </header>
    <div class="content">
      
<h1>Handlebars</h1>

<p>This is the templating engine used for this website.</p>

<p>Additionally, the original source for this page was a .hbs file, which is used for Handlebars templating.</p>

    </div>
    <footer role="footer">
    
    </footer>
  </div>
  <script src="./assets/js/core.js"></script>
</body>
</html>
