---
title: Handlebars
description: This is the templating engine used for this website.
permalink: false
---

<h1>{{ title }}</h1>

<p>{{ description }}</p>

<p>Additionally, the original source for this page was a .hbs file, which is used for Handlebars templating.</p>
