<!DOCTYPE html>
<html lang="en">
<head>
  {{> metahead}}
</head>
<body>
  <div class="page">
    {{> header}}
    <div class="content">
      {{{contents}}}
    </div>
    {{> footer}}
  </div>
  {{> scripts}}
</body>
</html>
